<footer class="footer" id="about">

    <div class="container">
        <div class="row">
            <div class="col-xs-3 footer-logo-wrapper">
                {% if site.github.url != null %}
                <img src="{{ "/img/triwawa-logo.svg" | prepend: site.github.url }}" class="footer-logo"></a>
                {% else %}
                <img src="/img/triwawa-logo.svg" class="footer-logo"></a>
                {% endif %}
            </div>
            <div class="col-xs-9">
                <span>
                    <b>
                        Pot i łzy? Czasami! Ale przede wszystkim wspólna pasja i dobra energia, bo to w triathlonie jest najpiękniejsze.
Chcesz spróbować?
                    </b>
                </span><br>
                <span>
                    <ul class="footer-list">
                        <li>Marcin Fabiszewski</li>
                        <li>tel. 502-891-169</li>
                        <li>@ <a href="mailto:triwawa@triwawa.pl">triwawa@triwawa.pl</a></li>
                    </ul>
                </span>
            </div>
        </div>

    </div>

</footer>
